.header {
  height: 150px;
}

.json-viewer {
  display: flex;
  height: calc(100vh - 64px);
  border-top: 1px solid gray;
}

.json-viewer__input {
  resize: none;
  font-family: consolas, monospace;
  border-top: none;
  border-radius: 0;
  height: 100%;
  overflow: scroll;
  flex: 4;
  padding-bottom: 15px;
}

.json-viewer__view {
  flex: 6;
  height: 100%;
  overflow: scroll;
  padding-bottom: 15px;
}

.json-element {
  padding-left: 25px;
  font-family: consolas, monospace;
  font-weight: bold;
  display: inline-block;
}

.json-property > .json-element {
  padding-left: 0;
}

.collapse-button {
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 5px;
  display: inline-block;
  vertical-align: middle;
}

.collapse-button > svg {
  height: 10px;
  fill: #656b78;
  vertical-align: middle;
}

.collapse-button:hover > svg {
  fill: #adb4c3;
}

.collapse-button::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}

.collapse-button::selection {
  background-color: rgba(0, 0, 0, 0);
}

.error-message {
  margin: 0;
  padding: 0 25px;
  word-break: break-all;
  width: 100%;
  background: rgba(195, 83, 83, 0.545);
  white-space: normal;
}
