.header {
  height: 150px;
}

.json-viewer {
  display: flex;
  height: calc(100vh - 64px);
  border-top: 1px solid gray;
}

.json-viewer__input {
  resize: none;
  font-family: consolas, monospace;
  border-top: none;
  border-radius: 0;
  flex: 4;
}

.json-viewer__view {
  flex: 6;
}

.json-element {
  padding-left: 25px;
  font-family: consolas, monospace;
  font-weight: bold;
}

.json-property > .json-element {
  padding-left: 0;
}

.collapse-button {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 8px;
  padding: 0 5px;
}

.collapse-button::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}

.collapse-button::selection {
  background-color: rgba(0, 0, 0, 0);
}
